body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
    width: 80%;
}

form + form {
    padding-top: 1em;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

form {
    margin: 0 auto;
    width: auto;
}

fieldset {
    border: none;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #888;
}

p {
    margin-bottom: 10px;
}

label {
    margin-left: 1em;
}

li {
    margin-bottom: 0.5em;
}

input[type="text"], input[type="number"], input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

input[type="submit"]:active {
    background-color: #888;
    color: black;
}

.error {
    color: red;
}

/*
                    scoresheet
*/

#scoreHeader {
    position: fixed;
    top: 0;
    width: 100%;
}

#scoreHeader h1 {
    text-align: left;
}

#scoreHeader #paginator {
    font-size: 0.5em;
}

#scoreBody {
    position: fixed;
    bottom: 0;
    left: 1em;
    display: grid;
    margin: 1em 3em 0 3em;
    grid-auto-flow: column;
    column-gap: 5px;
    background-color: #005;
    grid-template-rows: repeat(auto-fill, 2.5em);
    grid-template-columns: repeat(auto-fill, 35em);
}

.scorePlayer:nth-child(2n) {
  background-color: #ddd;
}

.scorePlayer {
    padding-right: 5px;
    margin-right: 3em;
    background-color: #eee;
    padding-top: 0.75em;
    overflow: hidden;
    white-space: nowrap;
}

.scoreRank {
    width: 3em;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.scoreName {
    display: inline-block;
    padding-left: 1em;
    vertical-align: middle;
}

.scoreScore {
    width: 4em;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

#datetimeInputs label{
    display: block;
    margin-top: 0.5em;
}

#runButtons button {
    display: block;
    width: 80%;
    margin-bottom: 1em;
    padding: 0.25em;
}

#logMessageBox {
    width: 80%;
    min-height: 2em;
    max-height: 20em;
    overflow-y: scroll;
    border: 1px solid black;
}

#logMessageBox p {
  margin: 6px;
}

.dateTimeStamp {
    font-weight: bold;
}

#seatingBody section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
}

#seatingBody table {
    grid-column: span 1;
    border-top: none;
    margin-right: 1em;
}

#seatingBody h2 {
    grid-column: 1 / -1;
    border-top: 2px solid blue;
    padding-top: 2em;
    text-align: center;
}

#seatingBody tbody td, tbody th {
  border-top: 2px #ccc solid;
  padding: 5px 0 ;
}
