{% macro google_account_field(field, index=None, users=None) %}
<div class="google-account-field-wrapper">
    {{ field.label }}
    {{ field(class="form-control google-account-field", list="google-accounts", autocomplete="off") }}
    <datalist id="google-accounts">
        {% for user in users %}
            <option value="{{ user }}">
        {% endfor %}
    </datalist>
    {% for error in field.errors %}
        <span class="error">{{ error }}</span>`
    {% endfor %}
</div>
{% endmacro %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
