{% extends "runbase.html" %}

{% block title %}Let's clean up some old spreadsheets{% endblock %}

{% block content %}
<section>
<h2>List of spreadsheets we own:</h2>
    <ul>
    {% for doc in docs %}
      <li id="buttonli{{ loop.index }}">
          <button onclick="delet_dis({{ loop.index }}, '{{ doc['id'] }}')">
          delete {{ doc['title'] }} </button> (
          <a href='https://docs.google.com/spreadsheets/d/{{ doc['id'] }}'>
          {{ doc['id'] }} )
          </a>
      </li>
    {% endfor %}
    </ul>
<hr>
</section>

<section>
<h2>Firestore database:</h2>
<a target="_blank"
href='https://console.firebase.google.com/u/0/project/ie-mahjong-tournament/firestore/databases/-default-/data/~2Ftournaments~2FY3sDqxajiXefmP9XBTvY'
>Firebase - opens in new window</a>
</section>
{% endblock %}

{% block scripts %}
<script>
function delet_dis(index, id) {
    let xhr = new XMLHttpRequest();
    let timestamp = new Date().getTime();
    xhr.open("DELETE",
      `{{ url_for('admin.delet_dis', doc_id='') }}${id}`,
      true);
    xhr.onload = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200 || xhr.status == 204) {
                document.getElementById(`buttonli${index}`).innerHTML =
                    'deleted';
            }
        }
    }
    xhr.send();
}
</script>
{% endblock %}