<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
    <link rel=stylesheet type='text/css' href='{{ webroot }}my.css'>
    {% block headextra %}{% endblock %}
    {% endblock %}
</head>
{% macro playerLink(players, pid) -%}
<a href='{{ webroot }}players/{{ pid }}.html'>{{ players[pid] }}</a>
{%- endmacro %}
<body>
<nav>
  <a href='{{ webroot }}ranking.html'>Ranking</a>
  {% for r in range(1, done+1) %}
    <a href='{{ webroot }}rounds/{{ r }}.html'>{{ roundNames['' ~ r] }}</a>
  {% endfor %}
  <a href='{{ webroot }}seating.html'>Seating</a>
  <a href='{{ current_user.live_tournament }}'>Tournament info</a>
  <a href='{{ webroot }}projector.html'>Rankings for projector</a>
</nav>
<div id=main>
{% block body %}{% endblock %}
</div>
</body>
</html>
