{% extends "runbase.html" %}

{% block title %}Edit Tournament Metadata{% endblock %}

{% block content %}
<h1>Edit Tournament</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        Firebase Document ID: <code>{{ firebase_id }}</code> (This cannot be changed)
    </p>

    <p>
        Note: Hanchan times should be updated in the google sheet, not here.
        All date/times must be given local to the tournament's timezone:
        <code>{{ timezone }}</code>
    </p>

    <p>Google sheet says the tournament is {{span}}</p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=80) }}
        {% for error in form.title.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date() }}
        {% for error in form.start_date.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date() }}
        {% for error in form.end_date.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.address.label }}<br>
        {{ form.address(size=80) }}
        {% for error in form.address.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.country.label }}<br>
        {{ form.country }}
        {% for error in form.country.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <fieldset>
        {{ form.status.label }}<br>
        {% for subfield in form.status %}
            {{ subfield }} {{ subfield.label }}<br>
        {% endfor %}
        {% for error in form.status.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </fieldset>

    <fieldset>
        {{ form.rules.label }}<br>
        {% for subfield in form.rules %}
            {{ subfield }} {{ subfield.label }}<br>
        {% endfor %}
        {% for error in form.rules.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </fieldset>

    <p>
        {{ form.url.label }}<br>
        {{ form.url(size=80, id="url") }}
        <span id="url_status"></span>
        {% for error in form.url.errors %}
          <span class=error>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.url_icon.label }}<br>
        {{ form.url_icon(size=80, id="url_icon") }}
        <span id="icon_status"></span>
        {% for error in form.url_icon.errors %}
          <span class=error>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.google_doc_id.label }}<br>
        {{ form.google_doc_id(size=80, readonly=true, id="google_doc_id") }}
        <button type="button" id="unlock_google_doc">Unlock</button>
        <button type="button" id="revert_google_doc" style="display:none;">Revert</button>
        <span id="google_doc_status"></span>
        <a id="google_doc_link" target="_blank" style="display:none;">View Sheet</a>
        {% for error in form.google_doc_id.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.web_directory.label }} <B>DANGER</B><br>
        {{ form.web_directory(size=80, pattern="[-_a-z0-9]+", title="Only -_a-z0-9 are allowed") }}
        {% for error in form.web_directory.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.htmlnotes.label }}<br>
        {{ form.htmlnotes(rows=4, cols=80, id="htmlnotes") }}
        {% for error in form.htmlnotes.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>    
    <p>
        {{ form.submit() }}
    </p>
</form>

<h4>HTML Notes Preview:</h4>
<div id="htmlnotes_preview"></div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
<script>
var googleDocField = document.getElementById('google_doc_id');
var unlockButton = document.getElementById('unlock_google_doc');
var revertButton = document.getElementById('revert_google_doc');
var originalGoogleDocId = googleDocField.value;
var alertWasShown = false;

function checkGoogleDoc() {
    var docId = googleDocField.value;
    var statusElement = document.getElementById('google_doc_status');
    var linkElement = document.getElementById('google_doc_link');

    function failCheck() {
        statusElement.innerHTML = '<span style="color:red;">❌</span>';
        linkElement.style.display = 'none';
    }

    fetch('{{ url_for("edit.validate_google_doc") }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: 'doc_id=' + encodeURIComponent(docId)
    })
    .then(response => response.json())
    .then(data => {
        if (data.valid) {
            statusElement.innerHTML = '<span style="color:green;">✔️</span>';
            var url = 'https://docs.google.com/spreadsheets/d/' + docId;
            linkElement.href = url;
            linkElement.style.display = 'inline';
            linkElement.textContent = 'View Sheet'; // Add text to the link
        } else {
            failCheck();
        }
    })
    .catch(failCheck);
}

unlockButton.addEventListener('click', function() {
    let goodToGo = alertWasShown || confirm("It is dangerous to change this field. Are you sure you want to proceed?");
    if (goodToGo) {
        googleDocField.readOnly = false;
        unlockButton.style.display = 'none';
        revertButton.style.display = 'inline';
    }
    alertWasShown = true;
});

revertButton.addEventListener('click', function() {
    googleDocField.value = originalGoogleDocId;
    googleDocField.readOnly = true;
    checkGoogleDoc();
    unlockButton.style.display = 'inline';
    revertButton.style.display = 'none';
});

googleDocField.addEventListener('change', checkGoogleDoc);

document.addEventListener('DOMContentLoaded', function() {
    checkGoogleDoc();
    var htmlnotesField = document.getElementById('htmlnotes');
    var htmlnotesPreview = document.getElementById('htmlnotes_preview');
    
    htmlnotesField.addEventListener('input', function() {
        htmlnotesPreview.innerHTML = this.value;
    });
    
    htmlnotesField.dispatchEvent(new Event('input'));
});

</script>
{% endblock %}
