{% extends "runbase.html" %}

{% block title %}Edit Tournament Metadata{% endblock %}

{% block extra_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<h1>Edit Tournament</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        Firebase Document ID: <code>{{ firebase_id }}</code> (This cannot be changed)
    </p>

    <p>
        Note: Hanchan times should be updated in the google sheet, not here.
        All date/times must be given local to the tournament's timezone:
        <code>{{ timezone }}</code>
    </p>

    <p>Google sheet says the tournament is {{span}}</p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=80) }}
        {% for error in form.name.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date() }}
        {% for error in form.start_date.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date() }}
        {% for error in form.end_date.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.address.label }}<br>
        {{ form.address(size=80) }}
        {% for error in form.address.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.country.label }}<br>
        {{ form.country }}
        {% for error in form.country.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <fieldset>
        {{ form.status.label }}<br>
        {% for subfield in form.status %}
            {{ subfield }} {{ subfield.label }}<br>
        {% endfor %}
        {% for error in form.status.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </fieldset>

    <fieldset>
        {{ form.rules.label }}<br>
        {% for subfield in form.rules %}
            {{ subfield }} {{ subfield.label }}<br>
        {% endfor %}
        {% for error in form.rules.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </fieldset>

    <p>
        {{ form.url.label }}<br>
        {{ form.url(id="url", size=80) }}
        <span id="url_status"></span>
        {% for error in form.url.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.url_icon.label }}<br>
        {{ form.url_icon(id="url_icon", size=80) }}
        <span id="icon_status"></span>
        {% for error in form.url_icon.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.google_doc_id.label }}<br>
        {{ form.google_doc_id(size=80, disabled=true, id="google_doc_id") }}
        <button type="button" id="unlock_google_doc">Unlock</button>
        <button type="button" id="revert_google_doc" style="display:none;">Revert</button>
        <span id="google_doc_status"></span>
        <a id="google_doc_link" target="_blank" style="display:none;">View Sheet</a>
        {% for error in form.google_doc_id.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.web_directory.label }}<br>
        /home/model/{{ form.web_directory(size=80) }}
        {% for error in form.web_directory.errors %}
          <span class=formError>[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.submit() }}
    </p>
</form>
<pre>{{ data }}

{{ doc }}
</pre>
{% endblock %}

{% block scripts %}
<script>
function checkUrl() {
    $.get(this.value).done(function() {
        $('#url_status').html('<span style="color:green;">✔️</span>');
    }).fail(function() {
        $('#url_status').html('<span style="color:red;">❌</span>');
    });
}
function checkImg(){
    var img = new Image();
    img.src = this.value;
    console.log(this.value);
    img.onload = function() {
        $('#icon_status').html('<img src="' + img.src + '" width="50" height="50">');
    }
    img.onerror = function() {
        $('#icon_status').html('<span style="color:red;">❌</span>');
    }
}
var urlField = $('#url');
var iconField =$('#url_icon') ;

$(document).ready(function(){
    urlField.change(checkUrl);
    iconField.change(checkImg);
    checkUrl.call(urlField.get()[0]);
    checkImg.call(iconField.get()[0]);
});

var googleDocField = $('#google_doc_id');
var unlockButton = $('#unlock_google_doc');
var revertButton = $('#revert_google_doc');
var originalGoogleDocId = googleDocField.val();

function checkGoogleDoc() {
    var docId = googleDocField.val();
    
    $.ajax({
        url: '/run/validate_google_doc',
        method: 'POST',
        data: { doc_id: docId },
        success: function(response) {
            if (response.valid) {
                $('#google_doc_status').html('<span style="color:green;">✔️</span>');
                var url = 'https://docs.google.com/spreadsheets/d/' + docId;
                $('#google_doc_link').attr('href', url).show();
            } else {
                $('#google_doc_status').html('<span style="color:red;">❌</span>');
                $('#google_doc_link').hide();
            }
        },
        error: function() {
            $('#google_doc_status').html('<span style="color:red;">❌</span>');
            $('#google_doc_link').hide();
        }
    });
}

unlockButton.click(function() {
    if (confirm("It is dangerous to change this field. Are you sure you want to proceed?")) {
        googleDocField.prop('disabled', false);
        unlockButton.hide();
        revertButton.show();
    }
});

revertButton.click(function() {
    googleDocField.val(originalGoogleDocId);
    checkGoogleDoc();
});

googleDocField.change(checkGoogleDoc);

$(document).ready(function(){
    checkGoogleDoc();
});

</script>
{% endblock %}