<tr class=caption>
    <td colspan=6>{{ roundname }} Table {{ tablenumber }}
<tr class=headers>
    <th>Player
    <th>Place
    <th>Score
    <th>Bonus
    <th>Penalty
    <th>Total
{% for p in range(4) %}
    <tr class=pid{{ scores[''~p][0] }}>
        <td class=name>{{ playerLink(players, scores[''~p][0]) }}
        <td class=place>{{ scores[''~p][3] }}
        <td class={{ scores[''~p][2] | scoreClass }}>{{ scores[''~p][2] | prettyScore }}
        {% set uma=scores[''~p][4] - scores[''~p][2] - scores[''~p][1] %}
        <td class={{ uma | scoreClass}}>{{ uma | prettyScore }}
        <td class={{ scores[''~p][1] | scoreClass }}>{{ scores[''~p][1] | prettyScore}}
        <td class="total {{ scores[''~p][4] | scoreClass }}">{{ scores[''~p][4] | prettyScore }}
{% endfor %}
