<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All-Ireland Mahjong Tournaments App</title>
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
</head>
<body>
    <h1>All-Ireland Mahjong Tournaments App</h1>
    <p>A work in progress</p>
    <p><a href='/create/'>tournament admin page</a></p>
    <p><a href='/login'>login</a></p>
    <p><a href='/logout'>logout</a></p>
    <p><a href='/create/results'>create a new tournament scoresheet</a></p>
    <p><a href='/admin/admin'>admin</a></p>
    <p><a href='/run/get_results'>update scores</a></p>
    <p><a href='/privacy'>privacy policy</a></p>
    <p><a href='/delete-account'>account deletion</a></p>
</body>
</html>
