{% extends "base.html" %}

{% block title %}{{ title }} - Player results for {{ players[pid] }}{% endblock %}

{% block headextra %}
<style>
.pid{{ pid }} {
    background-color: #ff0;
    color: #001;
}
</style>
{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<h2>Results for {{ players[pid] }}</h2>
<table class=gameresults>
    {% for r in games %}
        {% set roundname = roundNames[r] %}
        {% for tablenumber in games[r] %}
            {% if games[r][tablenumber] %}
                {% set scores = {} %}
                {% for i in range(4) %}
                    {% if games[r][tablenumber][''~i] %}
                        {% set _ = scores.update({''~i: games[r][tablenumber][''~i]}) %}
                    {% endif %}
                {% endfor %}
                {% if scores %}
                    {% include 'game_part.html' %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>
{% endblock %}
