<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All-Ireland Mahjong Tournaments App - Privacy Policy</title>
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
</head>
<body>
    <h1>Privacy Policy</h1>
    <p>We do not obtain or store any information about app users.</p>
    <p>For tournament administrators who create user accounts with us, we
    retain authentication information, to enable us to provide the
    administration service.</p>
    <p><a href='/delete-account'>Accounts can be deleted here.</a></p>
</body>
</html>
