{% extends "base.html" %}

{% block title %}{{ title }} - Results for {{ roundname }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<h2>{{ round_name }}</h2>
<table id=ranking>
<thead><tr>
    <th>Place
    <th>Score
    <th>Player
    {% for r in range(done, 0, -1)  %}
      <th>{{ roundNames[''~r] }}
    {% endfor %}
    {% set ns = namespace(has_penalties=false) %}
    {% for p in scores %}
        {% if p[1]['p'] != 0 %}
            {% set ns.has_penalties = true %}
        {% endif %}
    {% endfor %}
    {% if ns.has_penalties %}
        <th>Penalty<a href="#fn1" id="ref1"><sup>a</sup></a>
    {% endif %}
<tbody>
{% for p in scores %}
    {% set pid=p[0] | int %}
    <tr>
        <td>{{ ('','=')[p[1]['t']] }}{{ p[1]['r'] }}
        {% set score=p[1]['total'] %}
        <td class={{score | scoreClass}}>{{ score | prettyScore }}
        <td>{{ playerLink(players, pid) }}
        {% for r in range(done, 0, -1) %}
            {% if games[pid][r] is defined %}
                {% set score=games[pid][r][0] %}
                {% set table=games[pid][r][1] %}
                <td class={{score | scoreClass}}>
                    <a href='{{webroot}}rounds/{{r}}.html#{{
                            roundNames[''~r]|urlsafe
                        }}_{{table}}'>{{score | prettyScore}}
                    </a>
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}
        {% if ns.has_penalties %}
            {% set score=p[1]['p'] %}
            <td class={{score | scoreClass}}>{{ score | prettyScore }}
        {% endif %}
{% endfor %}
</table>
{% if ns.has_penalties %}
    <p class="footnote" id="fn1"><sup>a</sup>
        The penalties column only displays penalties that were imposed outside of any particular hanchan.
        In-game penalties are included within the hanchan scores.
        <a href="#ref1">↩</a>
    </p>
{% endif %}
{% endblock %}
