<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run {{ current_user.live_tournament.title }}</title>
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
</head>
<body>
<h1>Run {{ current_user.live_tournament.title }}</h1>
<ul>
<li><button id=scores>Update scores from google sheet</button></li>
<li><button id=preview>View preview of scoresheet</button></li>
<li><button id=scoreslive>Put the new scoresheet live</button></li>
<li><button id=seating>I've changed the seating; update that page</button></li>
</ul>
</body>
</html>
