<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run {{ current_user.live_tournament.title }}</title>
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
</head>
<body>
<h1>Run {{ current_user.live_tournament.title }}</h1>
<h3>Available actions:</h3>
<p><a href='{{ url_for('run.select_tournament') }}'>
  Select which tournament you want to manage
  </a></p>
<p><a href='{{ url_for('run.sheet_to_cloud') }}'>
  Update scores on web and app
  </a></p>
  <form action='{{ url_for('run.update_schedule') }}>
      <input type=submit value="Update schedule">
  </form>
  <form action='{{ url_for('run.update_seating') }}>
      <input type=submit value="Update seating">
  </form>
  <form action='{{ url_for('run.update_players') }}>
      <input type=submit value="Update list of players">
  </form>
</body>
</html>
