<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tournament Management{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/clean.css">
    <link rel="stylesheet" type="text/css" href="/static/manage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav>
        {% if current_user.is_authenticated %}
            {% if current_user.email == "mj.apply.sci@gmail.com" %}
                <a href="{{ url_for('admin.superadmin') }}">Superuser admin</a>
                <br>
            {% endif %}
            <a href="{{ url_for('create.results_create') }}">Create New Tournament</a>
            <a href="{{ url_for('run.select_tournament') }}">Select Tournament</a>
            <a href="{{ url_for('run.run_tournament') }}">Run Tournament</a>
            {% if current_user.live_tournament_role %}
                {% if current_user.live_tournament_role.value in ['admin', 'editor'] %}
                    <a href="{{ url_for('edit.edit_tournament') }}">Edit Tournament Metadata</a>
                    <a href="{{ url_for('user_management.add_user_get') }}">Manage team</a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('export.export_wordpress') }}">Export result pages for wordpress</a>
            <a href="{{ url_for('accounts.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('accounts.login') }}">Login</a>
        {% endif %}
    </nav>
    <div id=main>
        {% if current_user.is_authenticated %}
            <h1>Currently managing {{ current_user.live_tournament.title }}</h1>
            <p>Logged in as: {{ current_user.email }}</p>
        {% else %}
            <p>Not logged in</p>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
{% block scripts %}{% endblock %}
</body>
</html>
