<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id=scoreHeader>
        <h1>
            {{ title }} - scores after round {{ scores[0]['roundDone'] }}
            <span id=paginator></span>
        </h1>
    </div>

    <div id=scoreBody>
    {% for p in scores %}
        <div class=scorePlayer>
            <div class=scoreRank>{{ p['r'] }}</div>
            <div class=scoreScore>{{ p['t'] | prettyScore }}</div>
            <div class=scoreName>{{ players[p['id']] }}</div>
        </div>
    {% endfor %}
    </div>

<script>
const scoreBody = document.getElementById('scoreBody');
const paginator = document.getElementById('paginator');
const leftmost = scoreBody.getBoundingClientRect().left;
const transitionSeconds = 2;
let scoresTimer = 0;
let resizeTimeout;

function onResize() {
    // trigger recalcs on window resize
    console.log('resize!');
    if (scoresTimer) {
        clearInterval(scoresTimer);
    }
    // just a little pause before we recalculate,
    //   to ensure any transition has finished,
    //   and everything has reflowed
    setTimeout(() => {
        scoreBody.style.transition = 'none';
        scoreBody.style.marginBottom = '0px';
        scoreBody.style.left = `${leftmost}px`;
        paginator.textContent = '';
        setSizes();
        closeBottomGap();
        }, transitionSeconds * 1500);
}

window.addEventListener('resize', () => {
    clearTimeout(resizeTimeout);
    resizeTimeout = setTimeout(onResize, 1000); // 1 second debounce
});

window.onload = function() {
    setSizes();
    closeBottomGap();
}

function setSizes() {
    let h = document.getElementById('scoreHeader');
    // Set the top of scoreBody to be the bottom of scoreHeader
    scoreBody.style.top = 1 + h.offsetHeight + 'px';
}

function closeBottomGap() {
    // Get the scoreBody element
    var bodyBox = scoreBody.getBoundingClientRect();

    // Get all the scorePlayer elements
    var scorePlayers = document.getElementsByClassName('scorePlayer');

    // Initialize the bottom of the lowest scorePlayer to the top of the scoreBody
    var lowestScorePlayerBottom = bodyBox.top;
    var rightEdge = bodyBox.right;

    var colCount = 0;
    var previousBottom = 99999;
    var firstLeft = scorePlayers[0].getBoundingClientRect().left;
    var width = 0;
    var displacement;
    var lastBoxRight;

    // Find the lowest scorePlayer element, and count columns
    for (var i = 0; i < scorePlayers.length; i++) {
        // Get the bottom of the current scorePlayer
        var thisBox = scorePlayers[i].getBoundingClientRect();
        var scorePlayerBottom = thisBox.bottom;

        // If the bottom of the current scorePlayer is lower than the current lowest, update the lowest
        if (scorePlayerBottom > lowestScorePlayerBottom) {
            lowestScorePlayerBottom = scorePlayerBottom;
        } else if (scorePlayerBottom < previousBottom) {
            if (width === 0) {
                width = thisBox.left - firstLeft;
                displacement = thisBox.x - lastBoxRight;
            }
            if (thisBox.right > window.innerWidth) {
                colCount += 1;
            }
        }
        lastBoxRight = thisBox.x + thisBox.width;
        previousBottom = scorePlayerBottom;
    }

    // Calculate the gap
    var gap = scoreBody.getBoundingClientRect().bottom - lowestScorePlayerBottom;

    // close the gap
    scoreBody.style.marginBottom = `${gap}px`;

    // start the horizontal scroll
    if (colCount > 0) {
        setupScroll(colCount, width, displacement);
    }
}

function setupScroll(colCount, width, displacement) {
    let direction = 1;
    let currentColumn = 0;
    let baseline = scoreBody.getBoundingClientRect().left;

    const scrollDiv = () => {

        currentColumn += direction;
        paginator.textContent = `p${currentColumn+1}/${colCount+1}`;

        scoreBody.style.transition = `left ${transitionSeconds}s`;
        let newLeft = leftmost - width * currentColumn;
        if (currentColumn) {
            newLeft -= displacement + 6;
        }
        scoreBody.style.left = `${newLeft}px`;

        if (currentColumn === colCount || currentColumn === 0) {
            direction = -direction;
        }
    };

    // Start the scrolling loop
    scoresTimer = setInterval(scrollDiv, 30 * 1000); // 30 seconds
}
</script>
</body>
</html>
