{% extends "base.html" %}

{% block title %}{{ title }} - Seating{% endblock %}

{% block body %}
    <h1>
        {{ title }} - Seating
    </h1>
    <div id=seatingBody>
    {% for r in schedule['rounds'] %}
    <section>
    <h2><a name="{{ r['name'] | urlsafe }}">{{ r['name'] }}</a></h2>
      {% for tname, t in seating[loop.index0]['tables'].items() %}
        <table class=seating>
          <thead>
          <tr><th colspan = 2>Table {{ tname }}</th</tr>
          </thead>
          <tbody>
            {% for p in t %}
            <tr>
              <th><span class='seatwind'>{{ "ESWN"[loop.index0] }}</span></th>
              <td>{{ players[p] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </section>
    {% endfor %}
    </div>
{% endblock %}
