<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your scoresheet is being created now</title>
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var socket = io.connect("https://tournaments.mahjong.ie/create");
        // Handle WebSocket events
        const docSocket = io('/create');
        docSocket.on("updated_docs", function(data) {
            console.log("Received message:", data);
            document.getElementById('doclist').text(data);
        });
    </script>
</head>
<body>
    <h1>Now creating your new tournament scoresheet.</h1>
    <p>It will probably take 20-100 seconds (1-2 minutes).</p>
    <p>You should receive an email at {{ session['email'] }} from google,
    with a link to it, as soon as it's ready. You can also refresh this page,
    and when the document is ready, a link to it will appear below.</p>
    <p>As soon as you get that email, click on the link in it which will
    open the sheet for you. Then follow the instructions at the top of the
    README tab. You will create a copy of that sheet. Once you've done that,
    come back here, and paste the <em>new</em> document id
    (or, more simply, just copy the whole URL from the address bar and paste it)
    into the form below</p>
    <form method="POST">
    <fieldset>
        {{ form.hidden_tag() }}
        <p id=doclist></p>
        <p>
            {{ form.sheet_id.label }}<br>
            {{ form.sheet_id(size=80) }}
            {% for error in form.sheet_id.errors %}
                <span class=error>[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </fieldset>
    </form>

</body>
</html>
