<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welome to tournament admin</title>
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Welcome</h1>
<p>New user. Who dis?</p>
<p>You can <a href='{{ url_for('accounts.login') }}'>login with google</a>.</p>
<p>Note that only users who have pre-registered with us, will be able to login.</p>
<p>If the login page is being weird, try to
 <a href='{{ url_for('accounts.logout') }}'>logout</a> first!</p>
</body>
</html>
