<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to tournament admin</title>
    <link rel=stylesheet type='text/css' href='/static/clean.css'>
</head>
<body>
<h1>Welcome</h1>
<p>You are now logged in, {{ current_user.email }}.</p>
<p>You can <a href='/run/'>manage your current tournament,</a>,
<p>
<p>You can also <a href='{{ url_for('create.results_create') }}'>
create a new results scoresheet:</a>
<p>or</p>
<p><a href='{{ url_for('accounts.logout') }}'>logout</a></p>
</body>
</html>
